.main_content{
    min-width: 1160px;
    display: inline-block;
    margin-left: 380px;
    padding: 0px;
    position: relative;
    background-color: #ffffff;
    min-height: 800px;
}
.elderID-relativeID{
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 20px;
    margin: 0;
}
